<h1>Listing old_twits</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Tdata</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @old_twits.each do |old_twit| %>
  <tr>
    <td><%= old_twit.name %></td>
    <td><%= old_twit.tdata %></td>
    <td><%= link_to 'Show', old_twit %></td>
    <td><%= link_to 'Edit', edit_old_twit_path(old_twit) %></td>
    <td><%= link_to 'Destroy', old_twit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Old twit', new_old_twit_path %>
